body{
    
    background-color: coral;    
}


.sa{
    background-color: cadetblue;
    text-align: center;
    border-radius: 10px;
    margin-left: 31%;
    margin-right: 31%;
}
.inputstyle {
    font-family: Arial;
    font-size: 20pt;
    background-color: #00FF00"
    }    
    
.button{
    border-radius: 5px;
    background-color: #FF3C3C;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    margin: 5px;
    }    

